{% extends '/common/layout.html.twig' %}

{% block body %}
<div class="card card-login">
    <div class="card-body">
    <form method="post">

        <h1 class="mb-3 font-weight-normal">Mot de passe oublié ?</h1>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div>
            <button class="btn btn-lg btn-primary" type="submit">
                Envoyer le mail !
            </button>
        </div>

    </form>
    </div>
</div>
{% endblock %}