{% extends '/common/layout.html.twig' %}

{% block body %}
<div class="card card-login">
    <div class="card-body">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Redefinissez votre mot de passe</h1>
            
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <div class="form-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Renseignez votre nouveau mot de passe" required>
                <input type="hidden" name="token" value="{{ token }}">
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Enregistrer
            </button>
        </form>
    </div>
</div>    

{% endblock %}